/* 解决页面级的  */
/* ------------------ 设置导航栏 -------------------------------*/
/* 灰色背景 8*/
.navigation {
    height: 30px;
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

/* 一定宽度居中,靠右边*/
.navigation-box {
    margin: 0px auto;
    width: 1190px;
    text-align: right;
}

/* 设置为横着排布 */
.navigation-box ul li {
    display: inline-block; /*横着排列*/
    padding: 0px 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

/* 设置链接字体去掉下边线，字体颜色 */
.navigation-box ul li a {
    color: #999999;
    text-decoration: none;
}

/* 增加右边线*/
.navigation-box ul li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 14px;
    background: #cccccc;
    position: absolute;
    top: 8px;
    right: 0px;
    display: block;
}

/* 鼠标移动到标签上面标签变红色*/
.navigation-box ul li a:hover {
    color: #f10215;
}

/* ------------------ 设置头部 -------------------------------*/
/* 头部大小 */
.header-box {
    height: 140px;
    background: #ffffff;
}

.header {
    width: 1190px;
    display: flex;
    margin: 0px auto;
    padding: 10px 0px;
}

/* 设置logo大小 这个地方定义的是容器*/
.header .logo-box {
    width: 190px;
    height: 120px;
}

/* 整个搜索模块 */
.header .search-box {
    width: 790px;
    padding: 10px 10px;
}

/* 搜索框 */
.header .search-bar {
    padding: 15px 0px 0px 50px;
    display: flex;
}

/* 输入框设置 */
.search-bar input {
    border:1px solid #e1251b;
    width: 500px;
    height: 30px;
    padding: 2px 10px;
    outline: none;
}

/* 搜索按钮*/
.search-button {
    width: 50px;
    height: 36px;
    border: 1px solid #e1251b;
    background: #e1251b;
    cursor: pointer;  /*鼠标放上去就会变成一个小手*/
    line-height: 34px;
    text-align: center;
}

/* 搜索图标设置 */
.search-bar .iconfont-search {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

/* 购物车按钮*/
.cart-button {
    margin: 0px 0px 0px 20px;
    width: 100px;
    height: 36px;
    border: 1px solid #e1251b;
    line-height: 34px;
    text-align: center;
    color: #e1251b;
    font-size: 12px;
    cursor: pointer;  /*鼠标放上去就会变成一个小手*/
}

/* 购物车图标 */
.search-bar .iconfont-cart {
    font-size: 18px;
    font-weight: bold; /*加粗*/
    text-align: center;
}

/* 导航单1*/
.header .recommend {
    font-size: 12px;
    padding: 5px 0px 20px 50px;
}

/* 设置列表项为灰色*/
.header .recommend a {
    color: #999999;
}

/* 横着排 */
.search-box ul li {
    display: inline-block;
    padding: 0px 10px;
}

.search-box ul li a {
    color: #333333;
}

/* ------------------ 设置内容 -------------------------------*/

/* 第一个内容展示模块总体设置 */
.content .wrapper {
    margin: 0px auto; /*居中*/
    width: 1190px;
    padding: 10px;
    display: flex/*弹性布局*/
}

/* 分类菜单布局 */
.memu-box {
    width: 190px;
    background: white;
    position: relative;
    padding: 10px 0px;
    margin-right: 10px;
}

.memu-box ul li {
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden; /*限制文字再长也不会冒出去*/
}

/*设置鼠标效果*/
.memu-box ul li:hover {
    background: #d9d9d9;
}

/*标签设置，黑色字体，无下边线*/
.memu-box ul li a {
    color: #333333;
    text-decoration: none;
}

/*鼠标点击之后变为红色*/
.memu-box ul li a:hover {
    color: #e1251b;
}

/* 二级菜单设置*/
.memu-box .sub-menu {
    position: absolute;
    top:0px;
    left:190px;
    background: white;
    z-index: 10;
    width:900px;
    padding: 20px;
    font-size: 12px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.3);
    display: none;  /*隐藏*/
}

/*!* 设置鼠标效果,显示二级菜单 *! js处理，不需要css了
.memu-box ul li:hover .sub-menu{
    display: block;
}*/

/*js处理*/
.memu-box ul li .active {
    display: block;
}

/* 设置左模块向左覆盖*/
.sub-menu .left-box {
    float: left;
    max-width: 700px;
}

/* 右盒向右覆盖*/
.sub-menu .right-box {
    float: right;
    width: 160px;
}

.sub-menu .menu-title {
    margin: 0px 0px 10px 0px;
}

/* 设置那个表单外面的黑框框*/
.sub-menu .menu-title .item {
    display: inline-block;
    background: #333333;
    padding: 0px 8px;
    margin: 0px 10px 0px 0px;
    color: white;
}

/* 鼠标放上面去会变红*/
.sub-menu .menu-title .item:hover {
    background: #e1251b;
}

/*弹性布局*/
.sub-menu dl {
    display: flex;  /*设置dl下面的dt、dd在同一行显示*/
}

.sub-menu dt {
    font-weight: bold;
    width: 70px;
    text-align: right; /*靠右对齐*/
    flex-shrink: 0; /*这样就不会挤扁了，可以被压缩,不会去开下一行了*/
}

.sub-menu dd a{
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

/*设置广告*/
.sub-menu .right-box {
    float: right; /*右侧浮动*/
    width: 168px;
}

/*设置图片盒子*/
.sub-menu .pic-box {
    margin: 0px 0px 10px 0px;
}

/*针对最后一个图片盒子设置,就是上一个设置对最后一图片不起作用*/
.sub-menu .pic-box:last-child {
    margin: 0px;
}

