#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    padding: 0 auto 0 auto;
}

#loading h3 {
    //font-weight: normal;
    margin: 0;
    text-align: center;
    color: green;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 45%;
    height: 20px;
    line-height: 20px;
    animation: fade 2s ease infinite;
}

#loading .circle-out {
    width: 200px;
    height: 200px;
    border: 0 solid #2b2e34;
    border-radius: 200px;
    animation: circle 2s ease infinite;
}

#loading .circle-in {
    width: 170px;
    height: 170px;
    border: 0 solid #2b2e34;
    border-radius: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -85px 0 0 -85px;
    animation: circle 1s ease infinite;
    transform: rotate(0deg);
    transform-origin: center;
}

#loading .circle-out:after,
#loading .circle-in:after {
    content: '';
    display: block;
    width: 99%;
    height: 99%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 200px;
    border: 3px solid transparent;
}

#loading .circle-out:after {
    border-width: 30px;
    border-top-color: #2aa198;
    border-left-color: #2aa198;
}

#loading .circle-in:after {
    border-width: 10px;
    border-top-color: #829601;
    border-left-color: #829601;
}

@keyframes fade {
    50% {
        opacity: 0.5;
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}